<style>
  .product-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .product-list li {
    border: 1px solid #000;
  }

  .product-list img {
    /* width: 15rem; */
    width: 100%;
    height: 15rem;
  }
</style>

<section>
  <h2>Predict by database (limit 1 image)</h2>
  <% if(products) { %>
  <p>Currently you have <%= products.length %> product(s)</p>
  <% } %>
  <div id="showResult"></div>
  <div id="resultFormat"></div>
</section>

<% if(products.length === 0) { %>
<section>
  <h2>Store your image into DB to classify</h2>
  <form action="/products/store" method="POST" enctype="multipart/form-data">
    <div>
      <!-- <label for="userId">Current User</label> -->
      <input type="hidden" name="userId" value="<%= user.id %>" required />
    </div>
    <br />
    <div>
      <label for="productFile">File to upload</label>
      <input type="file" name="productFile" id="productFile" required />
    </div>
    <button type="submit">Save</button>
  </form>
</section>
<% } else { %>
<section>
  <h2>Your stored images into DB</h2>
  <p>Delete them after testing & then upload new one</p>
  <ul class="product-list">
    <% products.forEach(function(result){ %>
    <li>
      <!-- <img src="/images/dog-2.jpg" alt="" /> -->
      <img src="/<%= result.productFile %>" alt="hello" id="imgItem" />
      <div>
        <p>Product ID <%= result.id %></p>
        <!-- <a href="" class="btn">Predict Now</a> -->
        <button class="btn" onclick="predictImageResult()">Predict</button>
        <a href="/products/<%= result.id %>" class="btn">Delete</a>
        <!-- <form action="/products/<%= result.id %>" method="DELETE">
          <button type="submit">Delete</button>
        </form> -->
      </div>
    </li>
    <% }); %>
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam id
    reiciendis rem, cum laborum repellendus deleniti a illo delectus
    reprehenderit recusandae minus obcaecati sit facere quo alias. Id, fugit
    eaque.
  </p>
</section>
<% } %>

<!-- Load TensorFlow.js. This is required to use MobileNet. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.1"></script>
<!-- Load the MobileNet model. -->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"></script>
<!-- code for image model prediction -->
<script>
  function predictImageResult() {
    const predictImage = document.getElementById("imgItem");

    const showResultEl = document.getElementById("showResult");
    const resultFormatEl = document.getElementById("resultFormat");

    // Load the model.
    mobilenet
      .load()
      .then((model) => {
        // Classify the image.
        model.classify(predictImage).then((predictions) => {
          // console.log(`Predictions: ${predictions}`);
          console.log("Predictions");
          console.log(predictions);

          // show prediction result
          showResultEl.innerText = "Result Found ...";

          showPredictions(predictions);
        });
      })
      .catch((err) => {
        showResultEl.innerText = "Result Not Found ...";

        console.log("Prediction failed", err);
      });
  }

  function showPredictions(predictions) {
    const listEl = document.getElementById("resultFormat");

    const para = document.createElement("p");
    const node = document.createTextNode(
      `Classname: ${predictions[0].className} & Probability: ${(
        predictions[0].probability * 100
      ).toFixed(2)} %`
    );
    para.appendChild(node);

    // resultFormatEl.appendChild(para);
    listEl.appendChild(para);
  }
</script>
